* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	font-family: Tahoma, Geneva, sans-serif;
}
#main {
	background-color: #0d3b6e;
	margin: auto;  
	width: 800px;
	height: 30px;
}
#main a {
	background-color: #0d3b6e;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 2px;
}
#sidebar{
	float: right;
	text-align: center;
	width: 230px;
	border: 3px solid #282828;
	margin: 20px;
}
#sidebar a {
	text-decoration: none;
	color: #000000;
}
#sidebar img {
	padding-top: 5px;
}
section {
	width: 800px;
	margin-left: auto;
	margin-right: 400px
}
section.content {
	text-decoration: none;
}
p.center {
	text-align: center;
	padding-bottom: 10px;
}
p.italic {
	font-style: italic;
}
footer {
	text-align: center;
	background-color: #0d3b6e;
	height: 50px;
	border-top: 3px solid #282828;
	padding-top: 10px;
	color: #ffffff;
	margin-top: 20px;
}
footer a{
	color: #ffffff;
}
h1 {
	text-align: center;
	color: #0d3b6e;
	padding-top: 10px;
	padding-bottom: 10px;
}
h3 {
	text-align: center;
	color: #0d3b6e;
	padding-bottom: 10px;
	padding-top: 10px;
}
h4 {
	background-color: #0d3b6e;
	color: #ffffff;
	border-bottom: 3px solid #282828;
}
li {
	list-style: none;
}
#header {
	height: 84px;
	background-color: #0d3b6e;
	padding-left: 20px;
}
#banner {
	margin: auto;
	width: 800px;
	padding-bottom: 20px;
	padding-bottom: 20px;
}
#awards {
	margin: auto;
}
#red {
	color: #bb0000;
	text-align: center;
}
#yellow {
	color: #b0b000;
	text-align: center;
}
#teal {
	color: #00b0b0;
	text-align: center;
}
#purple {
	color: #b000b0;
	text-align: center;
}
#grey {
	color: #555555;
	text-align: center;
}
#msd {
	float: right;
	padding-right: 80px 
}
