html{
	width: 1000px;
}

body {
	font-family: Tahoma, Geneva, sans-serif;
}
nav {
	width: 1000px;
}
nav a {
	background-color: #0d3b6e;
	color: #ffffff;
	height: 84px;
}
nav a:hover a:active {
	background-color: #282828;
	color: #ffffff;
}
section {
	width: 800px;
}
section.content {
	text-decoration: none;
}
p {
	
}
p.center {
	text-align: center;
}
p.italic {
	font-style: italic;
}
div {
}
footer {
	text-align: center;
}
h1 {
	text-align: center;
	color: #0d3b6e;
}
h3 {
	text-align: center;
}
a:link a:visited {
	text-decoration: none;
	color: #000000;
}
li {
	list-style: none;
}